@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body {
  font-family: 'PT Sans', sans-serif;
  background-image: url(https://s3.amazonaws.com/avium/avium_background2.jpg);
  background-size: 100%;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.header {
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  height: 50px;
  display: table;
  width: 100%;
}

.header-wrapper {
  text-align: left;
  padding-left: 1rem;
}
.header img {
  height: 40px;
  margin: auto;
}

.header p {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  margin: auto;
  width: 100%;
}

.header p.input-label {
  text-align: right;
  font-size: 120%;
}

.header p.input-wrapper {
  text-align: center;
}

.header input {
  padding: 0.3rem;
  border: 0;
  border-bottom: 3px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 20rem;
  max-width: 80%;
  font-size: 120%;
  background-color: transparent;
}

.header button {
  background: rgb(221, 191, 32);
  border: 0;
  color: black;
  font-size: 120%;
  border-radius: 5px;
  padding: calc(0.3rem + 3px);
  margin-right: 1rem;
}

.header button:hover {
  background: rgba(221, 191, 32, 0.7);
  cursor: pointer;
}

.error {
  color: rgb(192, 0, 0);
}

.thanks {
  color: rgb(0, 128, 0);
}

.container-container {
  text-align: center;
}

.playlist-container {
  display: inline-block;
  background: rgba(255, 255, 255, 0.7);
  margin: 1rem;
  padding: 1rem;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.playlist-container:hover {
  opacity: 0.8;
  cursor: pointer;
}

.playlist-container img {
  width: 280px;
}

.playlist-container .caption {
  padding: 1rem 1rem 0 1rem;
}

.playlist-container p {
  text-align: center;
  margin: 0;
}

.playlist-container p.playlist-name {
  font-weight: bold;
  font-size: 110%;
  padding-bottom: 0.5rem;
}

.playlist-container p.reviewed-by {
  font-family: serif;
  font-style: italic;
  color: #888;
  font-size: 90%;
}

.playlist-container p.playlist-date {
  padding-top: 0.5rem;
  font-size: 90%;
  font-weight: 200;
  font-family: serif;
  color: #888;
}
