@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  background-image: url(https://s3.amazonaws.com/avium/avium_background3.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: repeat-x;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

#ContentContainer {
  height: 100%;
}

#PanelContainer {
  display: table;
  width: 100%;
  height: calc(100% - 79px);
}

#PlaylistPanel {
  width: 70%;
  display: table-cell;
  vertical-align: top;
  padding-right: 1px;
}

#PlaylistHeader {
  display: table;
  width: 100%;
  height: 75px;
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: 1px;
}

#LogoWrapper {
  display: table-cell;
  vertical-align: middle;
}

#LogoWrapper img {
  height: 50px;
  padding-left: 2rem;
}

#HeaderTitle {
  margin: 0;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  padding-right: 2rem;
  text-align: right;
  font-size: 32px;
}

.playlist-row {
  padding: 5px 0;
  margin-bottom: 1px;
  cursor: pointer;
  display: table;
  width: 100%;
}

.playlist-row:hover {
  opacity: 0.8;
}

.playlist-row:nth-child(2n) {
  background: rgba(255, 255, 255, 0.4);
}

.playlist-row:nth-child(2n+1) {
  background: rgba(255, 255, 255, 0.6);
}

.playlist-row.active {
  background: rgba(255, 214, 0, 0.8);
}

.playlist-row-element {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  display: table-cell;
}

.playlist-row-number {
  width: 10%;
  min-width: 1rem;
  max-width: 2rem;
  text-align: center;
}

.playlist-row-soundcloud-icon {
  width: auto;
  text-align: right;
  position: relative;
  right: 2rem;
}

.playlist-row-soundcloud-icon img {
  height: 21px;
  vertical-align: middle;
}

.playlist-row-soundcloud-icon img:hover {
  opacity: 0.7;
}

#ReviewPanel {
  width: 30%;
  display: table-cell;
  vertical-align: top;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.7);
}

#ReviewHeader {
  display: table;
  padding-bottom: 2rem;
}

#ReviewHeader > div {
  display: table-cell;
  vertical-align: middle;
  padding-right: 1rem;
  width: 100%;
  text-align: right;
}

.avatar-wrapper {
  text-align: right;
}

.reviewer-avatar {
  width: 70px;
  border-radius: 50%;
}

#ReviewBody {
  padding: 1rem;
  text-align: justify;
  line-height: 140%;
}

#ControlsBar {
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 78px;
  margin-top: 1px;
}

#ProgressBar {
  height: 3px;
}

#Progress {
  height: 3px;
  background: rgba(249, 208, 0, 0.8);
}

.control-button {
  border: 0;
  height: 75px;
  width: 75px;
  overflow: hidden;
  background-size: 100%;
  float: left;
  background-color: transparent;
  cursor: pointer;
}

.control-button:hover {
  opacity: 0.6;
}

.button-play {
  background-image: url('img/button-play.png');
}

.button-pause {
  background-image: url('img/button-pause.png');
}

.button-prev {
  background-image: url('img/button-prev.png');
}

.button-next {
  background-image: url('img/button-next.png');
}

#BarTitle {
  display: inline-block;
  float: left;
  height: 75px;
  padding-left: 1rem;
}

#BarTitle > div {
  height: 50%;
  display: table;
}

#BarTitle p {
  display: table-cell;
  margin: 0;
}

#BarTitleTrack {
  font-weight: 600;
  height: 50%;
}

#BarTitleTrack p {
  vertical-align: bottom;
}

#BarTitleArtist p {
  vertical-align: top;
}

#BarSoundcloudBranding {
  display: inline-block;
  height: 75px;
  float: right;
  margin-right: 1rem;
}

#BarSoundcloudBranding:hover {
  opacity: 0.7;
}

#BarSoundcloudBranding > div {
  display: table;
  height: 100%;
}

#BarSoundcloudBranding > div > div {
  display: table-cell;
  vertical-align: middle;
}

#BarSoundcloudBranding > div > div > div {
  font-size: 10px;
  width: 64px;
  text-align: center;
}

@media (max-width: 767px) {
  body {
    background-size: 1400px;
  }
  #HeaderTitle {
    padding-right: 0;
  }
  #ReviewPanel {
    display: none;
  }
  .control-button {
    height: 45px;
    width: 45px;
    margin-top: 15px;
  }
}
