@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body {
  font-family: 'PT Sans', sans-serif;
  background-image: url(https://s3.amazonaws.com/avium/avium_background2.jpg);
}

p {
  text-align: center;
}

.container {
  background-color: rgba(255,255,255,0.8);
  font-size: 18px;
  text-align: center;
}

@media (max-width: 767px) {
  body {
    margin: 0;
  }
  .container {
    padding: 1rem;
    font-size: 16px;
    height: 100%;
  }
  .logo-wrapper {
    margin-bottom: 1rem;
  }
  .logo-header {
    padding-bottom: 1rem;
  }
}

@media (min-width: 767px) {
  body {
    background-size: 100%;
  }
  .container {
    border-radius: 30px;
    margin: 3rem;
    padding: 3rem;
  }

  .logo-wrapper {
    margin-bottom: 3rem;
  }
  .logo-header {
    padding-bottom: 3rem;
  }
}

.logo-wrapper {
  text-align: center;
}
.logo-header {
  max-height: 200px;
  max-width: 80%;
}

.error {
  background-color: rgba(192, 0, 0, 0.3);
  width: 40%;
  margin: auto;
}

.thanks {
  background: rgba(0, 128, 0, 0.3);
  width: 40%;
  margin: auto;
}

input#email {
  padding: 0.3rem;
  border: 0;
  border-bottom: 3px solid black;
  margin: 1rem;
  width: 20rem;
  max-width: 80%;
  font-size: 120%;
  background-color: transparent;
}

button {
  background: rgb(221, 191, 32);
  border: 0;
  color: black;
  font-size: 120%;
  border-radius: 5px;
  padding: calc(0.3rem + 3px);
}

button:hover {
  background: rgba(221, 191, 32, 0.7);
  cursor: pointer;
}

.button {
  background: rgb(221, 191, 32);
  border: 0;
  color: black;
  font-size: 140%;
  border-radius: 5px;
  padding: 0.7rem;
  text-decoration: none;
}

a.button:hover {
  background: rgba(221, 191, 32, 0.7);
}

a:visited {
  color: inherit;
}
